<!-- 
<ul >
    <li *ngFor="let todo of todos">{{todo.task}}</li>
</ul>
<input [id]="myId" />

<p [class.element]="hasError">hello angular</p>
<h2 [style.color]="hasError ? 'red' : 'green'">SALAM</h2>

<button class="btn btn-warning" (click)="clickMe($event)">Click Me!</button>

<h1>{{value}}</h1>

<input #phone/>
<button (click)="callPhone(phone.value)">call Me!</button>

<!-- Methode 2 -->
<!-- <input [(ngModel)]="name"/>
{{name}}
<h4 *ngIf="displayName;else elseBlock">Salam</h4>

<ng-template #elseBlock>
<h4>name is hideen</h4>
</ng-template> --> -->